<app-home>
  <div class="card">
    <h1>Entenda a importância da preservação dos oceanos</h1>
    <p class="content-text__container " data-track-category="Link no Texto" data-track-links=""> Os 
      <a href="https://www.un.org/sustainabledevelopment/oceans/" target="_blank">oceanos</a> são <strong>uma 
      importante fonte de renda</strong> para populações que dependem dos recursos marinhos e representam 
      uma<strong> rota importante para o comércio mundial</strong>. <strong>Mais da metade do oxigênio</strong> 
      disponível para a respiração das mais de 7 bilhões de pessoas no planeta é<strong> produzido pelos oceanos
      </strong>. Eles também estocam <strong>50 vezes mais</strong><a 
      href="https://umsoplaneta.globo.com/clima/noticia/2021/06/04/carbono-o-que-e-sua-funcao-e-importancia.ghtml"> 
      carbono</a> do que a <strong>atmosfera do planeta</strong>. Ao cobrir 70% da superfície da Terra, são 
      responsáveis por transportar calor entre diferentes regiões e por regular o
      <a href="https://umsoplaneta.globo.com/clima/"> clima</a> do planeta. 
    </p>

    <p class="content-text__container " data-track-category="Link no Texto" data-track-links=""> “Além disso, 
      boa parte da<a href="https://umsoplaneta.globo.com/biodiversidade/"> biodiversidade</a> do planeta está, 
      atualmente, nos oceanos", diz <strong>Alexander Turra</strong>, oceanógrafo, professor do Instituto 
      Oceanográfico da Universidade de São Paulo (IO-USP) e líder da 
      <a href="http://catedraoceano.iea.usp.br/" target="_blank">Cátedra Unesco para Sustentabilidade dos 
      Oceanos</a> "Dessa forma, têm uma importância gigantesca para a humanidade." A vida começou na água, 
      lembra o especialista. 
    </p>

    <p class="content-text__container " data-track-category="Link no Texto" data-track-links=""> De acordo com 
      um estudo da Pontifícia Universidade Católica (PUC) do Rio Grande do Sul, os setores da 
      <a href="https://valor.globo.com/brasil/coluna/economia-dos-oceanos-representa-19-do-pib-do-pais.ghtml">
      economia dos oceanos respondem por 19% do PIB </a>do Brasil, o equivalente a R$ 2 trilhões, por ano. 
      Nos Estados Unidos, cerca de 76% de todo o comércio inclui algum tipo de transporte marítimo. Lá, a 
      economia marinha gera em torno de US$ 282 bilhões em bens e serviços. 
    </p>

    <p class="content-text__container " data-track-category="Link no Texto" data-track-links=""> No mundo, 
      cerca de <strong>três bilhões de pessoas dependem da biodiversidade marinha </strong>e costeira para 
      sobreviver. Globalmente, estima-se que o mercado de recursos marinhos gere<strong> 3 trilhões de 
      dólares</strong> por ano, o equivalente a cerca de 5% do PIB mundial, e áreas pesqueiras empreguem 
      aproximadamente <strong>200 milhões de pessoas</strong>. 
      <a href="https://umsoplaneta.globo.com/biodiversidade/noticia/2021/06/19/poluicao-dos-oceanos-quais-sao-as-consequencias-para-o-planeta.ghtml">
      Sem a preservação dos oceanos, portanto, não apenas o clima sofre, mas a vida das pessoas também será 
      direta e drasticamente afetada</a>. “As atividades dependem de um ambiente limpo, saudável, no qual as 
      pessoas tenham condições de entrar e que os alimentos sejam confiáveis”, afirma o professor da USP. 
    </p>

    <p class="content-text__container " data-track-category="Link no Texto" data-track-links=""> Preservar os 
      oceanos vai além de pensar exclusivamente no ambiente marinho. A emissão de gases que causam o 
      <a href="https://umsoplaneta.globo.com/clima/noticia/2021/04/04/o-que-e-efeito-estufa.ghtml">efeito 
      estufa</a> pelas atividades humanas, com a queima de
      <a href="https://umsoplaneta.globo.com/clima/noticia/2021/02/26/combustiveis-fosseis-podem-poluir-o-ar-mesmo-quando-carros-estao-desligados.ghtml"> 
      combustíveis fósseis</a>, faz com que as águas absorvam mais carbono do que o ideal para o ecossistema. 
      Com o <a href="https://umsoplaneta.globo.com/clima/noticia/2021/04/04/bloco-1-o-que-e-o-aquecimento-global.ghtml">
      aumento da temperatura do planeta</a>, sistemas extremamente sensíveis, como a formação de recifes de 
      corais, são os mais vulneráveis às 
      <a href="https://umsoplaneta.globo.com/clima/noticia/2021/04/04/o-que-sao-as-mudancas-climaticas.ghtml">
      mudanças climáticas</a>. Acredita-se que os recifes de corais tenham a maior biodiversidade no planeta, 
      com estruturas comparáveis às de florestas tropicais. Pequenas variações na temperatura da água são 
      suficientes para causar o branqueamento de corais, fenômeno que pode levar à morte dos animais. 
    </p>

    <p class="content-text__container " data-track-category="Link no Texto" data-track-links=""> “Os oceanos 
      têm uma importância tremenda para o equilíbrio do planeta, que deve ser conhecida pela sociedade para 
      que ele possa continuar a garantir a prosperidade e a dignidade de vida no planeta”, defende Alexander. 
      Para preservar os oceanos, a população precisa compreender o que é o bioma marinho e o que o ameaça. 
    </p>

  </div>
</app-home>