.card {
    position: absolute;
    flex-direction: column;
    background-color: white;
    width: 80%;
    border-radius: 13px;
    box-shadow: 0 0 1em teal;
    align-items: center;
    left:50%;
    transform: translateX(-50%);
    margin-top: 15px;
    padding: 15px;
    text-align: justify;
    font-size: 1.17rem;
    height: 83%;
    overflow-y: scroll;

    a {
        text-decoration: none;
        color: #487fec;
        font-weight: 600;
    }
    
    h1 {
        color: #0b48c2;
        margin-top: 10px;
        font-size: 2.0rem;
        text-align: center;
      }
}