<app-home>
  <img class="jogos" src="../../../assets/img/JOGOS PNG.png"  width="300" height="110" alt="">
  <div class="card">
    <div class="card2">
      <h1>AJUDE A LIMPAR AS ÁGUAS DO MAR</h1>
      <iframe width="60%" height="60%" class="video"
      src="http://www.youtube.com/embed/qw-3s_hYUQs?rel=0&controls=0&hd=1&showinfo=0&enablejsapi=1"			    
      frameborder="0" allowfullscreen>
      <p>Seu navegador não possui Suporte para este recurso...</p> 
      </iframe>
      <iframe width="60%" height="60%" class="video2"
      src="http://www.youtube.com/embed/oTXAvH2DT7Q?rel=0&controls=0&hd=1&showinfo=0&enablejsapi=1"			    
      frameborder="0" allowfullscreen>
      <p>Seu navegador não possui Suporte para este recurso...</p> 
      </iframe>
      <img  class="esgoto" src="../../../assets/img/esgoto.gif" alt="">
      <a href="https://www.escolagames.com.br/jogos/heroisDosMares/"><img class="playnow" src="../../../assets/img/playnow.gif" alt=""></a>
      <img class="game" src="../../../assets/img/tutorial game.png" alt="">
      <img class="game2" src="../../../assets/img/tutorial game 2.png" alt="">
    </div>
  </div>
</app-home>
